* {
    padding: 0;
    margin: 0;
}
#title {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Luckiest Guy', cursive;
    cursor: pointer;
}
#titlebar {
    height: 50px;
}
body {
    background-color: black;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.maingame {
    height: 66vmin;
    width: 66vmin;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.box {
    width: 18vmin;
    background-color: black;
    border: none;
    font-size: 14vmin;
    color: white;
    line-height: 0;
    cursor: pointer;
    text-align: center;
}
#box1 , #box2 , #box4 , #box5 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}
#box3 , #box6 {
    border-bottom: 5px solid white;
}
#box7 , #box8 {
    border-right: 5px solid white;
}
#newBtn {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.newBtn {
    border: 2px solid white;
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}
.newBtn:hover {
    background-color: white;
    color: black;
}
.msg {
    color: white;
    text-align: center;
    margin: 15px;
    font-family: 'Luckiest Guy', cursive;
}
.hide {
    display: none;
}